@import "reset";
@import "grid";
@import "genral";

.navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 2rem;
  position: relative;
  z-index: 1;
}
.brand-name {
  font-size: 2rem;
  a {
    color: #383838;
  }
}
.navbar-link a {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #383838;
}
.active a {
  color: #EDAE4E;
}
.hero {
  background-color: #F5E3D7;
  position: relative;
  bottom: 8.5rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.hero-info {
  padding: 4rem 1rem;
  display: grid;
  align-content: center; 
  h6 {
    font-size: 0.8rem;
    @extend .text-color;
  }
  h2 {
    font-size: 3rem;
    padding: 1rem 0;
    color: #5C5B58;
    span {
      color: #2E3937;
    }
  }
  p {
    @extend .text-color;
    margin-bottom: 2rem;
  }
  button {
    width: 200px;
    border: 3px solid black;
    padding: 0.8rem;
    border-radius: 40px;
    font-size: 1.3rem;
    background-color: #F5E3D7;
  }
}
.auctor {
position: relative;
bottom: 8.5rem;
}
.auctor-info {
  padding: 4rem;
  h2 {
    font-size: 3rem;
    @extend .text-color;
  }
  h6 {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #EDAE4E;
  }
  p {
    padding-right: 10rem;
    @extend .text-color;
  }
}
.auctor-img {
  img {
    width: 50%;
    height: 400px;
  }
}
.skills {
  width: 50%;
  padding: 2rem;
  text-align: center;
  color: #fff;
  background-color: #EDAE4E;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
}
.box {
  position: relative;
  bottom: 8.5rem;
}
.box-1 {
  grid-column: 1 / 2;
  text-align: center;
}
.box-2 {
  grid-column: 2 / 3;
  text-align: center;
}
.boxes-1 {
  background-color: #EDAE4E;
  color: #fff;
  padding: 4rem;
  width: 50%;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  p{
    font-size: 1.2rem;
  }
}
.boxes-2 {
  background-color: #FD693E;
  color: #fff;
  padding: 5rem;
  width: 50%;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  p{
    font-size: 1.2rem;
  }
}
.boxes-3 {
  background-color: #000;
  color: #fff;
  padding: 5rem;
  width: 50%;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  p{
    font-size: 1.2rem;
  }
}
.boxes-4 {
  background-color: #fff;
  color: #000;
  padding: 5rem;
  width: 50%;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  p{
    font-size: 1.2rem;
  }
}
.experience {
  background-color: #FD693E;
  height: 500px;
  position: relative;
  bottom: 8.5rem;
  img{
    width: 100%;
    height: 500px;
  }
}
.experience-info {
  padding: 7rem;
  color: #fff;
  h2 {
    font-size: 3rem;
  }
  .small-text {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
}
.course {
  padding: 1rem 0;
  i {
    padding: 1rem;
  }
  h3{
    font-size: 1.5rem;
    span {
      font-size: 1rem;
      margin-left: 0.5rem;
      color: #763434;
      font-weight: 600;
    }
  }
}
.education {
  background-color: #EDAE4E;
  height: 500px;
  position: relative;
  bottom: 8.5rem;
  img{
    width: 100%;
    height: 500px;
  } 
}
.contact {
  background-color: #FD693E;
  color: #fff;
  position: relative;
  bottom: 8.5rem;
}
.contact-form {
  padding: 5rem;
  h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  input {
    display: block;
    width: 80%;
    background-color: #FD693E;
    border: none;
    border-bottom: 2px solid #EDAE4E;
    padding: 2rem;
    color: #fff;
  }
  button {
    margin-top: 2rem;
    padding: 1rem 5rem;
    border: none;
    border-radius: 40px;
  }
}
.contact-img {
  img {
    width: 100%;
    height: 500px;
  }
}
.c-text {
  width: 100%;
  height: 500px;
  background-color: #000;
  text-align: left;
  padding: 4rem;
}
.address {
  padding: 1rem 0;
  h2 {
    font-size: 2rem;
  }
  p {
    padding: 1rem 0;
  }
}
.contact-icon {
  h2 {
    font-size: 2rem;
  }
  p {
    padding: 0.5rem 0;
  }
}
.map {
  grid-column: 1 / 3;
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.footer {
  text-align: center;
  position: relative;
  bottom: 8.5rem;
  padding-top: 5rem;
}

@media only screen and (max-width: 1000px) {
  .container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header {
    grid-column: span 1;
  }
  .hero-img {
    grid-column: span 1;
    img{
      width: 100%;
      order: 1;
    }
  }
}